.advantage-list {
  list-style: none;
  padding: 0;
  margin: auto;
}

.advantage-list__item {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  min-height: 60px;
  position: relative;
  margin-bottom: 40px;
  padding-left: 81px;
}

.advantage-list__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $button-green;
  background-position: center;
}

.advantage-list__item--proper::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantage-list__item--drink::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantage-list__item--food::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantage-list__item--time::before {
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-width: $tablet) {
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    width: 708px;
  }

  .advantage-list__item {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    margin-right: 100px;
    padding-top: 90px;
    padding-left: 0;
    margin-bottom: 135px;
  }
}

@media (min-width: $desktop) {
  .advantage-list {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }

  .advantage-list__item {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}
