.advantage__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: $font-color-black;
}

.advantages__list {
  list-style: none;
}

.advantage {
  margin: 0;
  padding: 0;
}
