.advantage-list {
  list-style: none;
  padding: 0;
  margin: auto;
}

.advantage-list__item {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  min-height: 60px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 81px;
  z-index: 5;
}

.advantage-list__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: -3px;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $button-green;
  background-position: center;
  z-index: 5;
}

.advantage-list__item--proper::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantage-list__item--drink::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.advantage-list__item--food::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.advantage-list__item--time::before {
  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-resolution: $retina-dppx) {
  .advantage-list__item--proper::before {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px 50px;
  }

  .advantage-list__item--drink::before {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px 50px;
  }

  .advantage-list__item--food::before {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px 50px;
  }

  .advantage-list__item--time::before {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px 50px;
  }
}

@media (min-width: $tablet) {
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    width: 708px;
  }

  .advantage-list__item {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 90px;
    padding-left: 0;
    margin-top: 70px;
    margin-bottom: 84px;
    counter-increment: counter;

    &::before {
      width: 80px;
      height: 80px;
      top: -22px;
      background-size: 50px 50px;
    }

    &:nth-child(odd) {

      margin-right: 133px;
    }

    &:nth-child(2) {
      &::after {
        left: 112px;
        top: -62px;
      }
    }

    &:nth-child(3) {
      &::after {
        left: 113px;
        top: -61px;
      }
    }

    &:nth-child(4) {
      &::after {
        left: 114px;
        top: -61px;
      }
    }

    &::after {
      content: counter(counter);
      font-family: $oswald;
      font-size: 281px;
      line-height: 281px;
      color: $button-gray;
      position: absolute;
      left: 117px;
      top: -62px;
      z-index: -1;
    }
  }
}

@media (min-width: $desktop) {
  .advantage-list {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin-bottom: 50px;
  }

  .advantage-list__item {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;

    &:nth-child(odd) {
      margin-right: 0;
    }

    &::after {
      left: 118px;
      bottom: -58px;
    }

    &::before {
      top: -21px;
    }
  }
}
