.contacts__invitation {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $font-color-black;
}

.contacts__adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
