.contacts__invitation {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $font-color-black;
}

.contacts__adress {
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
  margin-right: 5px;
}

.contacts {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet) {
  .contacts {
    margin-top: 0;
    padding: 0 38px 0 41px;
  }

  .contacts__invitation {
    font-size: 20px;
    line-height: 25px;
    margin-top: 16px;
  }

  .contacts__adress {
    font-size: 16px;
    line-height: 20px;
    margin-top: 14px;
    text-align: right;
  }

  .contacts__town {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: $desktop) {
  .contacts {
    position: absolute;
    background-color: $font-color-light;
    flex-direction: row;
    justify-content: space-around;
    width: 570px;
    top: 94px;
    left: 110px;
    z-index: 1;
    padding: 65px 89px 56px 75px;
  }

  .contacts__invitation {
    font-size: 20px;
    line-height: 25px;
    margin: 0 95px 0 0;
    text-align: left;
  }

  .contacts__adress {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    text-align: left;
  }
}
