.contacts__invitation {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $font-color-black;
}

.contacts__adress {
  font-family: $arial;
  font-size: 14px;
  line-height: 20px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $desktop) {
  .contacts {
    position: absolute;
    background-color: $font-color-light;
    flex-direction: row;
    justify-content: space-around;
    width: 404px;
    left: 400px;
  }
}
