.container {
  width: $mobile;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: $tablet;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    padding: 0 40px;
  }
}

.container__catalog {
  @media (min-width: $mobile) {
    width: $mobile;
    margin: 0 auto;
  }

  @media (min-width: $tablet) {
    width: $tablet;
    padding: 0 30px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: $desktop;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.container__card {
  @media (min-width: $mobile) {
    width: $mobile;
    padding: 0 20px;
    margin: 0 auto;
  }

  @media (min-width: $tablet) {
    width: 324px;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop) {
    width: 245px;
    padding: 0;
    margin: 0;
  }
}
