.copyright__link {
  font-size: 16px;
  line-height: 16px;
  color: $font-color-grey;
}

.copyright__img {
  fill: $link-color-gray;
  height: 32px;
  width: 27px;
}

.copyright__text {
  font-family: $arial;
  font-size: 16px;
  line-height: 16px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 21px;
}

@media (min-width: $tablet) {
  .copyright__img {
    margin-left: 24px;
  }

  .copyright {
    margin-top: 0;
  }
}
