.copyright__link {
  font-size: 16px;
  line-height: 16px;
  color: $font-color-grey;

  &--icon {
    position: absolute;
    top: 19px;
    right: -6px;
  }
}

.copyright__img {
  fill: $link-color-gray;
  height: 40px;
  width: 40px;
}

.copyright__text {
  font-family: $arial;
  font-size: 16px;
  line-height: 16px;
}

.copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

@media (min-width: $tablet) {
  .copyright__img {
    margin-left: 24px;
  }

  .copyright__link--icon {
    top: 10px;
  }

  .copyright__text {
    margin-right: 50px;
  }

  .copyright {
    padding-top: 19px;
  }
}
