.example {
  font-family: $oswald;
  background-color: $button-gray;
  margin-top: 39px;
  padding-top: 16px;
  padding-bottom: 36px;
  // margin-bottom: 76px;
}

.example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: $font-color-black;
}

.example__mini-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: $font-color-black;
  text-align: center;
  margin: 0;
}

.example__description {
  font-family: $arial;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;
  display: block;
  width: 91px;
  padding: 0 18px;
  background-color: $button-gray;
  position: absolute;
  bottom: -27px;
  text-align: center;
}

.example__total {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $font-color-black;
  margin: 34px auto;
}

.example__item {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  margin-top: 25px;
  margin-bottom: 24px;
  width: 266px;
}

.example__info {
  position: relative;
  border: 1px solid #cdcdcd;
  padding: 14px 15px 16px;
  border-radius: 3px;
  width: 125px;
}

.example__result-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example__filter {
  width: $mobile;
  padding: 0 20px;
  margin: 0 auto;
}

.example__sliders {
  display: flex;
  justify-content: center;
}

.example__slide--after {
  display: none;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet) {
  .example__slide {
    height: 650px;
    background: linear-gradient(to bottom, #ffffff 26%, transparent 0);

    &--before {
      width: 50%;
      position: relative;
      z-index: 10;
      overflow: hidden;
    }

    &--after {
      position: absolute;
      display: block;
    }
  }

  .example__img {
    padding-left: 15px;
    margin-bottom: 100px;

    &--before {
      width: 690px;
      height: 517px;
    }

    &--after {
      width: 690px;
      height: 517px;
      z-index: 10;
    }
  }

  .example__sliders {
    justify-content: flex-start;
    width: 690px;
    height: 517px;
    margin: 0 auto;
    position: relative;
    top: -169px;
  }

  .example__image {
    margin-top: 255px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 462px;
      background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
      top: 0;
      left: 0;
    }

    // background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
  }

  .example__cost {
    display: block;
    margin-top: 9px;
  }

  .example__wrapper {
    width: 366px;
  }

  .example__total {
    font-size: 20px;
    width: 175px;
    text-align: right;
    margin: 11px 1px;
  }

  .example__info {
    position: relative;
    border: 1px solid #cdcdcd;
    padding: 14px 15px 19px;
    border-radius: 3px;
    width: 162px;
  }

  .example__title {
    font-size: 60px;
    margin-top: 27px;
  }

  .example__filter {
    width: $tablet;
    padding: 0 30px;
  }

  .example {
    background-color: $font-color-light;
    margin-top: 19px;
    border-top: 1px solid $button-gray;
  }

  .example__item {
    font-size: 16px;
    line-height: 24px;
    width: 677px;
    margin-top: 63px;
    margin-bottom: 54px;
  }

  .example__result-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example__mini-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    text-transform: uppercase;
    color: $font-color-black;
    text-align: center;
    margin: 0;
  }


  .example__description {
    background-color: $font-color-light;
    font-size: 14px;
    line-height: 14px;
    width: auto;
    margin: 0;
    bottom: -7px;
    padding-left: 5px;
    padding-right: 5px;

    &--weight {
      left: 26px;
    }

    &--time {
      left: 12px;
    }
  }
}

@media (min-width: $desktop) {
  .example {
    border: none;
    padding-bottom: 0;
  }

  .example__background {
    display: flex;
    justify-content: flex-start;
    background-color: $button-gray;
  }

  .example__img {
    padding-left: 0;

    &--before {
      width: 690px;
      height: 517px;
    }

    &--after {
      width: 690px;
      height: 517px;
    }
  }

  .example-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1300px;
    margin: 0 auto;
    position: relative;
  }

  .example__result-info {
    display: flex;
    flex-direction: column;
  }

  .example__wrapper {
    display: flex;
    flex-direction: row;
  }

  .example__total {
    margin: 60px 0;
    width: 330px;
    text-align: left;
  }

  .example__cost {
    display: inline;
    margin-left: 60px;
  }

  .example__item {
    width: 434px;
    margin-bottom: 69px;
    margin-top: 71px;
  }

  .example__title {
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 75px;
  }

  .example__title-wrapper {
    background-color: $font-color-light;
  }

  .example__sliders {
    position: absolute;
    left: 610px;
    top: -188px;
  }

  .example__image {
    position: static;
    height: 207px;
  }

  .example__description {
    background-color: $button-gray;
  }

  .example__filter {
    width: 570px;
    padding: 0;
  }
}
