.extra-list__wrapper-up {
  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.extra-list__title {
  font-size: 24px;
  line-height: 24px;
  position: relative;
  font-weight: 400;
  color: $font-color-black;
  margin: 0 auto 16px auto;
  padding-right: 22px;
  display: inline-block;
  transform: translateY(-70%);
  background: $font-color-light;

  &--wrapper {
    border-top: 3px solid $button-green;
  }
}

.extra-list__name {
  width: 100%;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 15px 0 11px 0;
  text-align: left;
  color: #222222;
  border-top: 1px solid #cdcdcd;
}

.extra-list__value {
  width: 140px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;
  font-family: $arial;
  padding: 0;
}

.extra-list__field {
  width: 140px;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  font-family: $arial;
  padding: 0;
}

.extra-list__info {
  margin-bottom: 15px;
  border-spacing: 0;
}

.extra-list__button {
  width: 100%;
  margin-bottom: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.extra-list__wrapper-end {
  margin-bottom: 16px;
}

@media (min-width: $tablet) {
  .extra-list__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 37px;
    padding-right: 36px;
    margin-top: 47px;
    margin-bottom: 8px;
    transform: translateY(-200%);

    &--wrapper {
      margin-top: 88px;
    }
  }

  .extra-list__info {
    display: flex;
    margin-bottom: 22px;
  }

  .extra-list__info tbody {
    margin-top: 5px;
  }

  .extra-list__tr {
    display: flex;
    justify-content: flex-end;
  }

  .extra-list__wrapper-up {
    border: 1px solid #cdcdcd;
    padding-left: 38px;
    padding-right: 37px;
    padding-top: 25px;
    padding-bottom: 8px;
  }

  .extra-list__button {
    width: 633px;
  }

  .extra-list__value,
  .extra-list__field {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .extra-list__field {
    width: 94px;
  }

  .extra-list__name {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    border: none;
  }
}

@media (min-width: $desktop) {
  .extra-list__wrapper-up {
    width: 800px;
    display: flex;
    margin: 0;
  }

  .extra-list__name {
    width: 245px;
  }

  .extra-list__wrapper-end {
    margin: auto;
  }

  .extra-list__title {
    padding-left: 0;
    margin-top: 75px;

    &::before {
      width: 70px;
      height: 3px;
      top: 22px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 957px;
      height: 3px;
      background-color: $button-green;
      top: 22px;
      right: -110px;
    }
  }
}
