.main-nav {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet) {
  .main-nav {
    position: relative;
    display: inline-block;
  }
}

@media (min-width: $desktop) {
  .main-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
  }
}
