.page-footer {
  // background-color: $button-gray;
  margin: 0;
  padding: 0;
}

.page-footer__contacts-wrapper {
  background-color: $font-color-light;
  margin-top: 13px;
  margin-bottom: 10px;
}

.page-footer__logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 28px;
}

.page-footer__map {
  display: flex;
  margin: 10px auto 0 auto;
  position: relative;
}

@media (min-width: $tablet) {
  .page-footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__contacts-wrapper {
    position: relative;
  }
}

