.page-footer {
  margin: 0;
  padding: 0;
  // position: relative;
}

.page-footer__cont {
  background-color: $button-gray;
}

.page-footer__bottom {
  padding-top: 38px;
  padding-bottom: 10px;
}

.page-footer__contacts-wrapper {
  margin: 0 auto;
  height: 114px;
  z-index: 5;
  width: $mobile;
  position: relative;
  padding-top: 12px;
  background-color: $font-color-light;

  &--gray {
    background-color: $button-gray;
  }
}

.page-footer__logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.page-footer__map-img {
  margin: 0 auto;
}

.page-footer__map {
  position: relative;
  // margin-top: 75px;
  width: 320px;
  margin: 0 auto;
  height: 400px;
  background-image: url("../img/bg-map-mobile@1x.png");

  &::after {
    content: "";
    position: absolute;
    object-fit: contain;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-image: url("../../img/map-pin.png");
    background-size: 55px 55px;
    top: 176px;
    left: 131px;
    z-index: 4;
  }
}

@media (min-width: $tablet) {
  .page-footer__map {
    margin: -2px auto -1px auto;
    width: 768px;
    height: 400px;
    background-image: url("../../img/bg-map-tablet@1x.png");

    &::after {
      width: 113px;
      height: 106px;
      background-size: 113px 106px;
      top: 150px;
      left: 327px;
    }
  }

  .page-footer__contacts-wrapper {
    padding-bottom: 40px;
    padding-top: 49px;
    margin-top: 2px;
    width: $tablet;

    &--index {
      padding-top: 12px;
    }
  }

  .page-footer__logo-title {
    margin-right: 24px;
  }

  .page-footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__link {
    margin-top: 26px;
  }
}

@media (min-width: $desktop) {
  .page-footer {
    background-color: $button-gray;
  }

  .page-footer__map {
    margin: 0 auto 23px auto;
    width: 1440px;
    height: 400px;
    background-image: url("../../img/bg-map-desktop@1x.png");
  }

  .page-footer__contacts-wrapper {
    margin: 0;
    top: 0;
    padding: 0;
  }

  .page-footer__bottom {
    padding-top: 19px;
    padding-bottom: 28px;
  }
}
