.page-header {
  background-color: $font-color-light;
}

.page-header__logo {
  margin-right: 90px;
  margin-top: 12px;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

@media (min-width: $tablet) {
  .page-header__wrapper {
    position: relative;
    display: block;
    top: -2px;
  }

  .page-header__logo {
    margin-right: 40px;
    margin-top: 12px;
  }

  .page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    margin-top: 38px;
  }
}

@media (min-width: $desktop) {
  .page-header__wrapper {
    position: relative;
    display: flex;
  }

  .page-header {
    margin-top: 64px;
  }
}
