.page-header {
  background-color: $font-color-light;
}

.page-header__logo {
  margin-right: 90px;
  margin-top: 12px;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 2px;
  padding-bottom: 11px;
}

@media (min-width: $tablet) {
  .page-header__wrapper {
    position: relative;
    display: block;
    top: -2px;
  }

  .page-header__logo {
    margin-right: 40px;
    margin-top: 12px;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }

  .page-header {
    width: $tablet;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    margin: 22px auto 6px auto;
  }
}

@media (min-width: $desktop) {
  .page-header__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  .page-header {
    margin-top: 42px;
    width: $desktop;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
