.present {
  position: relative;
  margin-top: 40px;
  margin-bottom: 34px;
  height: 290px;

  &::before {
    content: "";
    background-color: $font-color-light;
    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 290px;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
      background-size: 280px 290px;
    }
  }

  &::after {
    content: "";
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 55px;
    height: 60px;
    background-position: center top;
    position: absolute;
    top: 65px;
    left: 133px;
  }
}

.present__description {
  font-family: $arial;
  line-height: 1.25;
  font-size: 16px;
  color: $font-color-light;
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 165px;
  left: 76px;
  top: 172px;
}

@media (min-width: $tablet) {
  .present {
    height: 200px;
    width: 708px;
    margin: 70px auto 76px auto;

    &::before {
      background-image: url("../img/gift-photo-tablet@1x.jpg");
      height: 200px;
      width: 708px;
      background-size: 708px 200px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/gift-photo-tablet@2x.jpg");
      }
    }

    &::after {
      top: 65px;
      left: 91px;
    }
  }

  .present__description {
    left: 423px;
    top: 56px;
    text-align: left;
  }
}

@media (min-width: $desktop) {
  .present {
    margin-bottom: auto;

    &::before {
      background-image: url("../img/gift-photo-desktop@1x.jpg");
      height: 290px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/gift-photo-desktop@2x.jpg");
      }
    }

    &::after {
      top: 55px;
      left: 170px;
    }
  }

  .present__description {
    text-align: center;
    bottom: -70px;
  }
}
