.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  padding: 22px;
  border-top: 1px solid $button-gray-hover;
  border-bottom: 1px solid $button-gray-hover;
}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $font-color-black;
  display: block;
  text-align: center;
}

@media (min-width: $tablet) {
  .site-list {
    width: 440px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .site-list__item {
    padding: 0;
    border: none;
  }

  .site-list__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    border-bottom: none;
    color: $font-color-black;
    display: block;
    text-align: center;

    &--active {
      border-bottom: 2px solid $button-green;
      padding-bottom: 7px;
    }
  }
}

@media (min-width: $desktop) {
  .site-list__item--active .site-list__link--active {
    border-bottom: 2px solid $button-green;
  }

  .site-list {
    width: 478px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6px;
  }

  .site-list__link {
    font-size: 20px;
    color: $font-color-light;

    &--black {
      color: $font-color-black;
    }

    &--white {
      border-bottom: 2px solid $font-color-light;
    }

    &--active {
      border-bottom: 2px solid $font-color-light;
      padding-bottom: 8px;
    }
  }
}
