.site-info {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #68ab3f;
  width: 100%;
  height: 305px;
  background-position: center;
  position: relative;
  color: $font-color-light;
  padding: 0;
  border-top: 1px solid $button-gray-hover;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 305px 320px;
  }
}


.site-info__img {
  position: absolute;
  top: 167px;
  z-index: 1;
}

.site-info__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 10px;
  padding: 0;
}

.site-info__item {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 150px;
  margin-top: 26px;
}

.site-info__link {
  margin: 300px auto 0 auto;
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 12px;
}

@media (min-width: $tablet) {
  .site-info {
    background-image: none;
    background-color: $font-color-light;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0;
  }

  .site-info__container {
    padding-left: 87px;
    padding-right: 30px;
    position: relative;
  }

  .site-info__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $font-color-black;
    text-align: start;
    margin-top: 37px;
  }

  .site-info__item {
    color: $font-color-black;
    font-size: 20px;
    line-height: 20px;
    margin: 41px 0 48px 1px;
    text-align: left;
  }

  .site-info__link {
    margin: 0;
    z-index: 2;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 27px;
    max-width: 245px;
    margin-left: 1px;
    position: absolute;
  }

  .site-info__img {
    position: absolute;
    top: 201px;
    left: 0;
    z-index: 1;
    width: 709px;
    height: 609px;
  }
}

@media (min-width: $desktop) {
  .site-info::before {
    content: "";
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    width: 50%;
    height: 696px;
    position: absolute;
    background-position: right;
    top: -136px;
    right: 0;
    background-size: contain;
    background-color: #68ab3f;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 696px 720px;
    }
  }

  .site-info__img {
    left: 450px;
    width: 552px;
    height: 499px;
    top: -80px;
  }

  .site-info__item {
    text-align: left;
    margin-top: 42px;
    margin-bottom: 52px;
  }

  .site-info__title {
    margin-top: 86px;
  }

  .site-info__container {
    padding-left: 80px;
  }

  .site-info__link {
    padding: 16px 27px 16px 25px;
    margin-left: 0;
  }
}
