.social__social-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 9px 58px 4px 57px;
}

.social__svg {
  fill: $link-color-gray;
}

.social {
  border-bottom: 1px solid $button-gray-hover;
  border-top: 1px solid $button-gray-hover;
}
