$font-color-grey: #444444;

$font-color-black: #111111;

$font-color-light: #ffffff;

$link-color-gray: #666666;

$button-green: #68b738;

$button-green-hover: #5eaa2f;

$button-gray: #f2f2f2;

$button-gray-hover: #ebebeb;

$border-color-grey: #d9d9d9;

$mobile: 320px;

$tablet: 768px;

$desktop: 1300px;
