.page-header {
  margin: 0;
  background-color: $font-color-light;
}

.page-header__button {
  background-color: transparent;
  overflow: hidden;
  position: relative;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

@media (min-width: $tablet) {
  .page-header__wrapper {
    position: relative;
    display: flex;
  }

  .page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (min-width: $desktop) {
  .page-header__wrapper {
    position: relative;
    display: flex;
  }

  .page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    z-index: 5;
  }
}
